<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746859045190-psput0egq184nu3398go4nu76b7c926d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746859045190-psput0egq184nu3398go4nu76b7c926d</string>
	<key>API_KEY</key>
	<string>AIzaSyDK056k860JaoJLQdCq_v80ULna69TmPwA</string>
	<key>GCM_SENDER_ID</key>
	<string>746859045190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pro.libera.pushNotifications</string>
	<key>PROJECT_ID</key>
	<string>push-notification-vrg8</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-vrg8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746859045190:ios:45c02ac1fb5074653d0547</string>
</dict>
</plist>